alembic==1.18.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
blinker==1.9.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
Deprecated==1.3.1
dotenv==0.9.9
et_xmlfile==2.0.0
Flask==3.1.3
Flask-Limiter==4.1.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.3.0
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
limiter==0.5.0
limits==5.8.0
login==0.0.6
Mako==1.3.11
MarkupSafe==3.0.3
migrate==0.3.8
mysql-connector-python==9.6.0
openpyxl==3.1.5
ordered-set==4.1.0
packaging==26.1
pillow==12.2.0
pycparser==3.0
PyMySQL==1.1.2
python-dotenv==1.2.2
requests==2.33.1
SQLAlchemy==2.0.49
StrEnum==0.4.15
stripe==15.0.1
token-bucket==0.3.0
typing_extensions==4.15.0
ulid-py==1.1.0
urllib3==2.6.3
Werkzeug==3.1.8
wrapt==2.1.2
WTForms==3.2.1
