<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SuperStore{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body>

    {% include "base/topbar.html" %}

    <div class="layout">

        {% include "base/sidebar.html" %}

        <main class="content">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, msg in messages %}
                    <div class="alert {{ category }}">{{ msg }}</div>
                {% endfor %}
            {% endwith %}

            {% block content %}{% endblock %}

        </main>

    </div>

</body>
</html>