<div class="row">

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Total Items</h5>
            <h2>{{ total_items }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Low Stock</h5>
            <h2 class="text-danger">{{ low_stock }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Reserved Stock</h5>
            <h2 class="text-warning">{{ reserved }}</h2>
        </div>
    </div>

</div>