{% extends "base/courier_base.html" %}

{% block content %}

<h1>My Deliveries</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Order</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for d in deliveries %}
    <tr>
        <td>{{ d.id }}</td>
        <td>{{ d.order_id }}</td>
        <td>{{ d.status }}</td>

        <td>

            {% if d.status == "assigned" %}
            <form method="POST" action="{{ url_for('courier.pickup_delivery', id=d.id) }}">
                <button type="submit">Pick Up</button>
            </form>
            {% endif %}

            {% if d.status == "picked_up" %}
            <form method="POST" action="{{ url_for('courier.complete_delivery', id=d.id) }}">
                <input type="text" name="otp_code" placeholder="Enter OTP" required>
                <button type="submit">Complete Delivery</button>
            </form>
            {% endif %}

            {% if d.status == "delivered" %}
                <span>Completed ✔</span>
            {% endif %}

        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}